


<div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <div class="card">
        <div class="card-body">
      <div class="authBlock">
        <h3 class="text-center">Recuperar Contraseña</h3>
  
        <p class="text-center">Please enter your email address to request a password reset.</p>
  
        <div class="formGroup">
          <input type="email" class="form-Control" placeholder="Direccion Email" #passwordResetEmail required>
        </div>
  
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <br>
          <input type="submit" class="btn btn-primary btn-block" value="Reestablecer Contraseña" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
  
      <div class="redirectToLogin">
        <br>
        <span>Quieres regresar? <a class="redirect" routerLink="/sign-in"> Iniciar Seccion</a></span>
      </div>
    </div>
    </div>
    </div>
  </div>
