<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a7e0aa;">

  <a class="navbar-brand" href="#">Veterinaria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Registro Clientes <span class="sr-only">(current)</span></a>
      
    </div>
   
    <div class="navbar-nav">
      <a class="nav-item nav-link active"href="#"><i class="fas fa-sign-out-alt"></i>Cerrar Sesion <span class="sr-only"></span></a>
      
    </div>
  </div>
</nav>
<div class="container">

  <!-- Image and text -->
<!-- Image and text -->
<br>

  <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Registro de Clientes</h1>
        <p class="lead">"Los animales no son propiedades o cosas, sino organismos vivientes, sujetos de una vida, que merecen nuestra compasión, respeto, amistad y apoyo"</p>
      </div>
    </div>
  
    <app-cliente></app-cliente>
    <app-cliente-list></app-cliente-list>
 
</div>

