

<div class="row">
    <div class="col-md-6 mx-auto mt-5">
     <div class="card">
      <div class="authBlock">
        <h3 class="text-center">Gracias por Registrarte</h3>
  <br>
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">hemos enviado un correo a tu direccion <strong>{{user.email}}</strong>.</p>
          <p class="text-center">porfavor revisa tu bandeja de entrada de tu direccion de correo y abre el link para verificar tu direccion de correo.</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btn-primary btn-block" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Reenviar Verificacion de Correo
          </button>
        </div>
  
      </div>
  <br>
      <div class="redirectToLogin">
        <span>Quieres regresar?<a class="redirect" routerLink="/sign-in"> Iniciar sesion</a></span>
        <br>
      </div>
      <br>
     </div>
    </div>
  </div>
